.activity-block {
    display: flex;
    padding: 20px;
}

.activity-block__text-field {
    flex: 1;
    margin-right: 10px !important;
}

.activity-block__activity-buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 20px;
}

.activity-block__activity-buttons .activity-block__edit-button {
    margin-left: 20px;
    font-size: 20px;
}


.table-wrapper .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
    padding: 6px;
}